header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          font-family: 'passion_onebold', impact;
  width: 100%;
  height: auto;
  z-index: 3;
}
menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: 3em;
  border-radius: 50px;
  background: -moz-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: -webkit-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c74bd",endColorstr="#3c74bd",GradientType=1);
  -webkit-box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
          box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
  border-radius: 0 20px 20px 0;
  background-color: rgba(27, 27, 27, 0.3);
  z-index: 4;
}

img {
  width: auto;
  height: 2em;
  filter: invert(2);
}

img:hover {
  transform: scale(1.4);
  margin-top: 4px;
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-family: Tahoma, Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.2em;
  text-align: center;
  font-weight: bolder;
  color:rgb(211, 226, 255);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2), 0 0 1em rgba(2, 2, 2, 0.3), 0 0 0.2em rgba(8, 8, 8, 0.4);
  border-radius: 50px;
  background: -moz-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: -webkit-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c74bd",endColorstr="#3c74bd",GradientType=1);
  -webkit-box-shadow:  3px 3px 3px #2c568b,
  -3px -3px 3px #3c74bd;
  box-shadow:  3px 3px 3px #2c568b,
  -3px -3px 3px #3c74bd;
  border-radius: 0 0 20px 20px;
  padding: 1% 0 1% 0;
  width: 20%;
  height: auto;
  margin-top: 0;
  margin-right: 2%;
  z-index: 1;
}
h3 {
  color:rgb(216, 216, 216);
  -webkit-text-stroke-width: 1.2px;
  -webkit-text-stroke-color: rgb(41, 64, 141);
  text-shadow: 0.5px 0.5px 1px rgba(236, 236, 236, 0.2), 0 0 1em rgba(253, 253, 253, 0.2), 0 0 0.2em rgba(194, 194, 194, 0.2);
  height: 2em;
  line-height: 2em;
  font-size: 2em;
}
h4 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
  color:rgb(190, 197, 233);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: rgb(51, 51, 51);
  text-shadow: 0.5px 0.5px 1px rgba(41, 41, 41, 0.3), 0 0 1em rgba(36, 36, 36, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
  width: 90%;
  height: 2.2em;
  font-size: 0.4em;
  border-radius: 0 50px 0 0;
  background-color: #2f5b94;
}
input[type="button"] {
  width: 9em;
    height: 2.4em;
    background-color: #2f5b94;
    color:rgb(224, 229, 252);
    text-shadow: 0.5px 0.5px 1px rgba(236, 236, 236, 0.3), 0 0 1em rgba(253, 253, 253, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
-webkit-box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
      box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
    border-radius: 7px;
    border-color: #2c568b;
    -webkit-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    z-index: 4;
}
input[type="button"]:hover,
input[type="button"]:active,
input[type="button"]:focus {
  -webkit-filter: contrast(1);
  filter: contrast(1);
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  color: aliceblue;
  background-color: #22235e;
  border: 4px solid rgb(227, 227, 228);
  z-index: 5;
}
button {
  width: 10em;
  height: 3.8em;
  background-color: #2f5b94;
  color:rgb(209, 209, 211);
  text-shadow: 0.5px 0.5px 1px rgba(236, 236, 236, 0.3), 0 0 1em rgba(253, 253, 253, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
  -webkit-box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
  box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
  border-radius: 7px;
  border-color: #2c568b;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 4;
}
#boutonReset,
#boutonBulles {
  width: 13em;
  height: 4.8em;
}
#boutonPastilles,
#boutonLegendes {
  width: 9.4em;
  height: 4.5em;
}
button:hover,
button:active,
button:focus {
  -webkit-filter: contrast(1);
          filter: contrast(1);
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
  color: aliceblue;
  background-color: #22235e;
  border: 4px solid rgb(227, 227, 228);
  z-index: 5;
}
button:hover {
  z-index: 5;
}

@media screen and (max-width: 750px) {
  img {
    filter: contrast(1.7);
    width: auto;
    height: 1.6em;
    filter: invert(2);
  }
  h1 {
    position: absolute;
    display: none;
    width: 0;
    height: 0;
  }
  h3 {
    display: none;
  }
  menu {
    width: 97.5%;
    height: 2.8em;
    padding: 1% 1% 1% 1%;
    border-radius: 0;
  }
  button {
    width: 9.1em;
    height: 4.5em;
    margin: 1%;
}}