.infos{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width: 200px;
    height: 300px;
    display: none;
    backdrop-filter: blur(5px);
        background-color: rgba(255, 255, 255, 1);
        border-radius: 20px;
        box-shadow: 35px 35px 68px 0px rgba(65, 89, 155, 0.5), inset -6px -6px 16px 0px rgba(65, 89, 155, 0.6), inset 0px 11px 28px 0px rgb(255, 255, 255);
    z-index: 999; 
}

.infos.show{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}