header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100vw;
  height: auto;
  z-index: 1;
}
menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 40%;
  height: auto;
  text-shadow: 1px 1px 2px rgba(37, 37, 37, 0.1), 0 0 1em rgba(41, 41, 41, 0.1), 0 0 0.2em rgba(27, 27, 27, 0.1);
  border-radius: 50px;
  border-radius: 50px;
  background: linear-gradient(145deg, #386caf, #2f5b94);
  -webkit-box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
          box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
  border-radius: 0 20px 20px 0;
  background-color: rgba(27, 27, 27, 0.3);
  z-index: 1;
}
h4 {
  color:rgb(243, 242, 242);
  height: 2.5vh;
}
button {
    width: 12em;
    height: 3.8em;
    background-color: #2f5b94;
    color:rgb(243, 242, 242);
    text-shadow: 1px 1px 2px rgba(236, 236, 236, 0.3), 0 0 1em rgba(253, 253, 253, 0.3), 0 0 0.2em rgba(194, 194, 194, 0.3);
-webkit-box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
      box-shadow: 3px 3px 3px #2c568b,
           -3px -3px 3px #3c74bd;
    border-radius: 7px;
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    z-index: 2;
}
#boutonMenuGeneral,
#boutonMenuCommunes,
#boutonMenuBulles,
#boutonMenuAide {
  width: 9em;
  height: 2.5em;
}
button:hover,
button:active,
button:focus {
  -webkit-filter: contrast(1);
          filter: contrast(1);
  -webkit-transform: scale(1.3);
      -ms-transform: scale(1.3);
          transform: scale(1.3);
  padding-bottom: 0.2em;
  color: aliceblue;
  background-color: #121472;
  border: 4px solid rgb(235, 234, 236);
  z-index: 3;
}
button:hover {
  z-index: 5;
}
h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 100%;
  text-align: center;
  font-weight: bold;
  color:rgb(243, 242, 242);
  text-shadow: 1px 1px 2px rgba(37, 37, 37, 0.3), 0 0 1em rgba(41, 41, 41, 0.3), 0 0 0.2em rgba(27, 27, 27, 0.3);
  border-radius: 50px;
background: -o-linear-gradient(305deg, #386caf, #2f5b94);
background: linear-gradient(145deg, #386caf, #2f5b94);
-webkit-box-shadow:  3px 3px 3px #2c568b,
-3px -3px 3px #3c74bd;
box-shadow:  3px 3px 3px #2c568b,
-3px -3px 3px #3c74bd;
  border-radius: 0 0 20px 20px;
  padding: 1% 0 1% 0;
  width: 30%;
  height: auto;
  margin-top: 0;
  margin-right: 0;
  z-index: 1;
}
