  #imprimer {
    display: block;
    position: relative;
    align-self: space-around;
    justify-content: space-around;
    width: 90%;
    height: 100%;
    z-index: 1;
  }
  canvas {
    position: absolute;
    justify-self: center;
    font-family: 'passion_oneregular';
    background: rgb(224, 229, 252); 
    top: 0;
    left: 21%;
    width: 100%;
    height: 100%;
  }
  svg {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
        box-sizing: border-box;
      width: 95%;
    height: auto;
    padding: 0;
    z-index: 1;
  }
  g {
    width: auto;
    height: auto;
  }
  
  .fond:hover {
   fill: #1d3499;
   z-index: 4;
  }
  
  .bulle, .nom {
    display: block;
    width: auto;
    height: auto;
  }
  
  .fond, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .bulle, .nom {
    stroke-miterlimit: 12;
  }
  
  .fond, .bulle {
    stroke-width: 4px;
  }
  .bulle {
    stroke-width: 2px;
  }
  
  .a2cdadef-0f16-45b7-9b79-984d9814e5e3, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    font-size: 12px;
    font-family: 'passion_onebold', Verdana, 'Geneva', Tahoma, sans-serif;
  }
    
  .nom {
    stroke: #343435;
    stroke-width: 1px;
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(41, 64, 141);
  }
  
  .a2cdadef-0f16-45b7-9b79-984d9814e5e3 {
    fill: #f2f3f4;
  }

  .pastilles,
  .legendes {
    display: none;
  }
  .b72b3a80-689d-424e-a21f-dfd057c561e3, .e4336bf5-ae8c-4688-ae89-8a38a006b2f7 {
    stroke: #243063;
  }

  .f78ce071-44cf-4d4c-8126-16af981f96a4 {
    font-size: 14.78426px;
    fill: #243063;
    font-family: MyriadPro-Regular, Myriad Pro;
    letter-spacing: -0.01202em;
    font-weight: bolder;
  }

  .f1985f06-e82f-4d2f-8c62-e14b08690e7f {
    fill: #232868;
    stroke: #000;
  }


    @media print {
      * {
        width: 21cm;
        height: 6cm;
      }
      header {
        display: none;
      }
      aside {
        opacity: 0;
      }
      svg {
        width: 21cm;
        height: auto;
        margin-top: 0;
      } 
      text {
        font-family: 'passion_oneregular';
        font-size: 16px;
        letter-spacing: 0.4px;
      }
      canvas {
        display: none;
      }
    }
    @page {
      width: 21cm;
      height: 29.7cm;
    }
  