
  svg {
    position: relative;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      width: 50%;
      top: 2em;
      margin-top: 0;
      padding-top: 0;
      z-index: 3;
  }
  g {
    font-family: "passion one", PassionOne-Regular, Passion;
    width: 100%;
  }
  
  .fond:hover {
   fill: #1d3499;
   z-index: 4;
  }
  
  .bulle, .nom {
    display: block;
  }
  
  .fond, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .bulle, .nom {
    stroke-miterlimit: 10;
  }
  
  .fond, .bulle {
    stroke-width: 3px;
  }
  .bulle {
    stroke-width: 2px;
  }
  
  .a2cdadef-0f16-45b7-9b79-984d9814e5e3, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    font-size: 17px;
  }
    
  .nom {
    stroke: #343435;
    stroke-width: 0.5px;
  }
  
  .a2cdadef-0f16-45b7-9b79-984d9814e5e3 {
    fill: #f2f3f4;
  }
  @media screen and (max-width: 1400px) {
    svg {
      position: relative;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
        width: 60%;
        top: 4em;
        margin-top: 0;
        padding-top: 0;
        z-index: 3;
    }
  }
  @media  screen and (max-height: 850px) {
    svg {
      position: relative;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
        width: 50%;
        top: 0;
        margin-top: 0;
        z-index: 3;
    }
  }