@import url(Villes.css);
@import url(bulles.css);
@import url(noms.css);
body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: rgb(207, 207, 235);
  width: 98.5vw;
  height: 80vh;
  z-index: 0;
}
h1 {
  font-size: 100%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #243063;
  color:rgb(207, 207, 235);
  width: 99vw;
  height: 1.1em;
  padding: 1% 0 1% 0;
  margin: 0;
  z-index: 0;
}
a {
  text-decoration: none;
  color: #243063;
}
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse wrap;
          flex-flow: row-reverse wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: space-between;
      -ms-flex-pack: space-between;
          justify-content: space-between;
  width: 100vw;
  height: 100%;
  z-index: 0;
}
.couleurVilles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
          margin-top: 0.6%;
  width: 30vw;
  height: 100%;
  z-index: 1;
}
.couleurVilles > button {
  width: 100%;
}
.couleurVilles > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 13em;
  height: 3.1em;
}
input {
  width: 6em;
  height: 3.1em;
  border: none;
  padding: 0;
  z-index: 2;
}
button {
  text-align: center;
  font-size: 0.8em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  background-color: rgb(207, 207, 235);
  color: #243063;
  border: 2px solid #020513;
  margin-right: 0;
  width: 16em;
  height: 3em;
  margin: 1px;
  outline: none;
  z-index: 3;
}
button:hover {
  background-color: #243063;
  color:rgb(207, 207, 235);
}
svg {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
    width: 54%;
    margin: 1% 4% 1% 0;
    padding: 0 2% 2% 2%;
    background-color: rgb(207, 207, 235);
}
g {
    font-family: "passion one", PassionOne-Regular, Passion;
    width: 100%;
}
.fond {
   stroke: #243063;
   background-color: whitesmoke;
}

.fond:hover {
   fill: #1d3499;
  }

   a.fond:visited {
    fill: #ce621a;
   }

  .fond, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .bulle, .nom {
    stroke-miterlimit: 10;
  }

  .fond, .bulle {
    stroke-width: 3px;
  }

  .bulle {
    fill: #232868;
    stroke: #000;
    stroke-width: 1px;
  }

  .a2cdadef-0f16-45b7-9b79-984d9814e5e3, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    font-size: 17px;
  }

  .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    fill: #fcfcfc;
  }

  .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom {
    stroke: #343435;
    stroke-width: 0.5px;
  }

  .a2cdadef-0f16-45b7-9b79-984d9814e5e3 {
    fill: #f2f3f4;
  }

@media screen and (max-width: 580px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgb(207, 207, 235);
    width: 94.5vw;
    height: 100%;
    z-index: 0;
  }
  h1 {
    font-size: 100%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #243063;
    color:rgb(207, 207, 235);
    width: 92vw;
    height: 1.3em;
    margin: 0;
    z-index: 0;
  }
  main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 94vw;
    height: 100%;
    z-index: 0;
  }
  .couleurVilles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 97vw;
    height: 100vh;
    z-index: 1;
  }
  .couleurVilles > span {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    width: 49%;
    height: 4.1em;
  }
  button {
    text-align: center;
    font-size: 0.8em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    background-color: rgb(207, 207, 235);
    color: #243063;
    border: 2px solid #020513;
    margin-right: 0;
    width: 17em;
    height: 5em;
    margin: 2px;
    outline: none;
    z-index: 3;
  }
  input[type="color"] {
    width: 5em;
    height: 5em;
    padding: 0;
    z-index: 3;
  }
  svg {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
      width: 96%;
      padding: 2% 2% 2% 2%;
      background-color: rgb(207, 207, 235);
      z-index: 2;
  }
}