@import url(Villes.css);
body {
    background-color: rgb(207, 207, 235);
}
h1 {
  font-size: 200%;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: #243063;
  color:rgb(207, 207, 235);
  padding: 1%;
}
svg {
    margin: 5%;
    background-color: rgb(207, 207, 235);
}
g {
    font-family: "passion one", PassionOne-Regular, Passion;
}
.fond {
    fill: #557fe5;
    stroke: #243063;
  }

.fond:hover {
   fill: #243063;
   stroke: #020513;
  }

  .fond, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .bulle, .nom {
    stroke-miterlimit: 10;
  }

  .fond, .bulle {
    stroke-width: 3px;
  }

  .bulle {
    fill: #232868;
    stroke: #000;
    stroke-width: 1px;
  }

  .a2cdadef-0f16-45b7-9b79-984d9814e5e3, .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    font-size: 17px;
  }

  .nom, .fe323a9a-d646-4d4f-a5c5-66a36689274b {
    fill: #fcfcfc;
  }

  .b8c16a22-22d8-46f4-8d29-d912f138e36a, .nom {
    stroke: #343435;
    stroke-width: 0.5px;
  }

  .a2cdadef-0f16-45b7-9b79-984d9814e5e3 {
    fill: #f2f3f4;
  }

  .b8c16a22-22d8-46f4-8d29-d912f138e36a {
    fill: none;
  }

  