@import url(header.css);
@import url(map.css);

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: rgb(65, 89, 155);
  font-family: Passion-One, PassionOne-Regular, Passion, Verdana, Geneva, Tahoma, sans-serif;
  width: 100vw;
  height: auto;
  margin: 0;
  padding: 0;
  z-index: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 99%;
  height: auto;
  z-index: 0;
}
aside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  border-radius: 0 50px 50px 0;
  background: -moz-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: -webkit-linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  background: linear-gradient(90deg, rgba(60,116,189,1) 0%, rgba(60,116,189,0.5480392840730042) 35%, rgba(60,116,189,0.6236695361738445) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#3c74bd",endColorstr="#3c74bd",GradientType=1); -webkit-box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
          box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
  width: 100%;
  height: auto;
  font-size: 2.8em;
  font-weight: bolder;
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  z-index: 0;
}
#optionGeneral,
#optionCommunes,
#optionBulles {
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 13em;
  height: auto;
  padding: 0 0 3% 3%;
}
p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 9em;
  height: 3em;
  padding-left: 0.5em;
  padding-right: 1.5em;
  font-size: 0.3em;
  color:rgb(207, 207, 235);
  text-shadow: 1px 1px 2px rgba(37, 37, 37, 0.1), 0 0 1em rgba(41, 41, 41, 0.1), 0 0 0.2em rgba(27, 27, 27, 0.1);
  border-radius: 10% 0 20px 0;
  background-color: #2f5b94;
}
input[type="color"] {
  -webkit-appearance: none;
  width: 3em;
  height: 3em;
  background: -o-linear-gradient(305deg, #386caf, #2f5b94);
  background: linear-gradient(145deg, #386caf, #2f5b94);
  -webkit-box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
  box-shadow:  3px 3px 3px #2c568b,
             -3px -3px 3px #3c74bd;
  border: 4px solid #d3d3d3;
  transform: scale(1.1);
  -webkit-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
  padding: 0;
  border-radius: 20px;
  overflow: hidden;
  margin-left: 0.5em;
  padding: 0;
}
input[type="color"]:hover {
  -webkit-transform: scale(1.4);
      -ms-transform: scale(1.4);
          transform: scale(1.4);
  border: 3px solid rgb(242, 242, 250);
  z-index: 4;
}
input[type="color"]::-webkit-color-swatch {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
  input[type="color"]::-webkit-color-swatch-wrapper {
    border: none;
    border-radius: 10px;
    padding: 0;
  }
input[type="color"]::placeholder {
    color: white;
}
span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  width: 5em;
  margin: 0.5%;
}
.vide {
  width: 2%;
  height: 100%;
}

@media screen and (max-width: 1400px) {
aside {
  width: 80%;
    }
#optionGeneral,
#optionCommunes,
#optionBulles {
  width: 10em;
}
input[type="color"] {
  width: 1.8em;
  height: 4.2em;
}
span {
  width: 3.2em;
}
}