@import url(animation.css);
#b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Morlaix"] {
 animation: 3s linear apparition1 forwards;}  
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Saint-Martin-des-Champs"] {
 animation: 3s linear apparition2 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plourin-Les-Morlaix"]{
 animation: 3s linear apparition3 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plougonven"]{
 animation: 3s linear apparition4 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plouigneau"]{
 animation: 3.2s linear apparition5 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Garlan"]{
 animation: 3.5s linear apparition6 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Lanmeur"]{
 animation: 3.7s linear apparition7 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plouezoch"]{
 animation: 4s linear apparition8 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Locquenole"]{
 animation: 4s linear apparition9 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Taule"]{
 animation: 4s linear apparition10 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Sainte-Seve"]{
 animation: 4s linear apparition11 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Pleyber-Christ"]{
 animation: 4.5s linear apparition12 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Le Cloitre-Saint-Thegonnec"]{
 animation: 4.5s linear apparition13 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Lanneanou"]{
 animation: 4.5s linear apparition14 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Botsorhel"]{
 animation: 5s linear apparition15 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Guerlesquin"]{
 animation: 5s linear apparition16 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plouegat-Moysan"]{
 animation: 5s linear apparition17 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plouegat-Guerrand"]{
 animation: 5s linear apparition18 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Guimaec"]{
 animation: 5.2s linear apparition19 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Saint-Jean-Du-Doigt"]{
 animation: 5.2s linear apparition20 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plougasnou"]{
 animation: 5.2s linear apparition21 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > polygon[data-name="Locquirec"], path[data-name="Locquirec"]{
 animation: 5.2s linear apparition22 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Carantec"]{
 animation: 5.5s linear apparition23 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Henvic"]{
 animation: 5.5s linear apparition24 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Saint-Thegonnec-Loc-Eguiner"]{
 animation: 5.5s linear apparition25 forwards;}
 #b8e18138-5697-4033-9611-05eec396f769 > path[data-name="Plouneour-Menez"]{
 animation: 5.5s linear apparition26 forwards;}
